@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,100&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}



/* carosule */
.carousel-item img{
    width: 100px;
    max-height: 70vh;
}

/* cards */
.card_hover:hover{
    background-color: aqua;
}